// colors
$desaturated-red: #CE9898;
$soft-red: #F96464;
$dark-grayish-red: hsl(0, 6%, 24%);
$dark-clr: #423A3A;
$white-clr: #ffffff;

// font family
$primary-ff: 'Josefin Sans', sans-serif;

// font weight
$fw-light: 300;
$fw-reg: 400;
$fw-semi-bold: 600;

// font size
$root-fs: 16px;
$fs-1rem: $root-fs;
$fs-13px: .875rem;
$fs-14px: .875rem;
$fs-40px: 2.5rem;
$fs-64px: 4rem;

// line height
$lh-22px: 1.375rem;
$lh-28px: 1.75rem;
$lh-42px: 2.625rem;
$lh-64px: 4rem;
$lh-71px: 4.4375rem;